@model u21632660_HW03.Models.LibraryVM
@using System.Collections.Generic;
@using System.Globalization;
@{

    ViewBag.Title = "Report";
    var students = Model.StudentsList;
    var books = Model.BooksList;
    var types = Model.BookTypesList;
    var borrows = Model.BorrowsList;
    var authors = Model.AuthorsList;
}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<h4>Report</h4>

<div class="card">
    <div class="card-body">
        <h6>Unreturned Books: Students</h6>     
        <hr />
        <div id="yearly" class="row">
            <div class="col-sm-8">
                <table class="table table-sm table-striped" style="font-size: 13px;">
                    <thead class="bg-primary text-light">
                        <tr>
                            <th>Borrow Date</th>
                            <th>Book Name</th>
                            <th>Student</th>
                        </tr>
                    </thead>
                    @if (borrows.Where(b => b.broughtDate == null).Count() < 1)
                    {
                        <tbody>
                            <tr><td style="color:green" colspan="3" class="">No unreturned books.</td></tr>
                        </tbody>
                    }
                    else
                    {
                        <tbody>
                            @foreach (var brow in borrows.Where(b => b.broughtDate == null)) 
                            { 
                                <tr>
                                    <td>@brow.takenDate</td>
                                    @foreach (var book in books.Where(bk => bk.bookId == brow.bookId))
                                    {
                                        <td>@book.name </td>
                                    }
                                    @foreach (var stu in students.Where(stud => stud.studentId == brow.studentId))
                                    {
                                        <td>@stu.name @stu.surname</td>
                                    }                                    
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
            <div class="col-sm-4">
                <h5>Number of unreturned books</h5>
                <h4>@borrows.Where(b => b.broughtDate == null).Count()</h4>
            </div>
        </div>       
    </div>
</div>
<br />
<div class="card">
    <div class="card-body">
        <h5>Archive List</h5>
        <hr />
    </div>
</div>

<script type="text/javascript">
    
</script>